<a href="https://colab.research.google.com/github/couqdev/MachineLearning/blob/main/Project_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ĐỀ TÀI GIỮA KÌ MÁY HỌC

1. Thành viên: 
+ Trần Đặng Quốc MSSV: 20130376
+ Nguyễn Minh Đức MSSV: 20130233

2. Dataset: Chess(king-rook vs, king)

3. Các thuật toán lựa thực hiện:
+ Neural network
+ SVM
+ kNN
+ Naïve Bayes
+ RandomForest
+ Decision Tree

4. Phân công việc:
+ Trần Đặng Quốc: Neural network, SVM, kNN.
+ Nguyễn Minh Đức: Naïve Bayes, RandomForest, Decision Tree.

1. Import Library

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')
%cd '/content/gdrive/MyDrive/MachineLeaning'

Mounted at /content/gdrive
/content/gdrive/MyDrive/MachineLeaning

In [109]:
import pandas as pd
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.model_selection import train_test_split
from prettytable import PrettyTable
import sklearn.metrics as metrics
from sklearn.preprocessing import OneHotEncoder

2. Load dataset

In [11]:
dataset = pd.read_csv("datasetML.csv")
dataset

,White King file,White King rank,White Rook file,White Rook rank,Black King file,Black King rank,optimal depth-of-win for White
0,a,1,b,3,c,2,draw
1,a,1,c,1,c,2,draw
2,a,1,c,1,d,1,draw
3,a,1,c,1,d,2,draw
4,a,1,c,2,c,1,draw
...,...,...,...,...,...,...,...
28051,b,1,g,7,e,5,sixteen
28052,b,1,g,7,e,6,sixteen
28053,b,1,g,7,e,7,sixteen
28054,b,1,g,7,f,5,sixteen
28055,b,1,g,7,g,5,sixteen

3. Thuật toán SVM:

3.1 OneHotEncoder:

In [110]:
encoder = OneHotEncoder(sparse=False)
cat_cols = ['White King file', 'White Rook file', 'Black King file']

dataset3=[dataset['White King file'],dataset['White Rook file'],dataset['Black King file']]
df_encoded = pd.DataFrame(encoder.fit_transform(dataset[cat_cols]),columns=encoder.get_feature_names_out(cat_cols))
df_processed = pd.concat([dataset, df_encoded], axis=1)
df_processed.drop(columns=cat_cols, inplace=True)
df_processed

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,White King rank,White Rook rank,Black King rank,optimal depth-of-win for White,White King file_a,White King file_b,White King file_c,White King file_d,White Rook file_a,White Rook file_b,...,White Rook file_g,White Rook file_h,Black King file_a,Black King file_b,Black King file_c,Black King file_d,Black King file_e,Black King file_f,Black King file_g,Black King file_h
0,1,3,2,draw,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1,1,2,draw,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,1,1,1,draw,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,1,1,2,draw,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,1,2,1,draw,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28051,1,7,5,sixteen,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28052,1,7,6,sixteen,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28053,1,7,7,sixteen,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
28054,1,7,5,sixteen,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
28055,1,7,5,sixteen,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [111]:
y = df_processed['optimal depth-of-win for White']
X = df_processed.drop('optimal depth-of-win for White', axis=1)

In [112]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

3.2 SVM Linear Kernel:

In [114]:
clf = svm.SVC(kernel='linear')
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

accurary_linear =  metrics.accuracy_score(y_test, y_pred)
precision_linear = metrics.precision_score(y_test, y_pred, average='macro')
recall_linear = metrics.recall_score(y_test, y_pred, average='macro')
f1_linear = metrics.f1_score(y_test, y_pred, average='macro')

t = PrettyTable(['','accuracy', 'precision', 'recall', 'f1'])
t.add_row(['SVM Linear',round(accurary_linear, 3),round(precision_linear,3),round(recall_linear, 3),round(f1_linear,3)])
print(t)

+------------+----------+-----------+--------+-------+
|            | accuracy | precision | recall |   f1  |
+------------+----------+-----------+--------+-------+
| SVM Linear |  0.359   |   0.428   | 0.341  | 0.346 |
+------------+----------+-----------+--------+-------+

3.3 SVM RBF Kernel:

In [117]:
clf = svm.SVC(kernel='rbf')
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

accurary_rbf =  metrics.accuracy_score(y_test, y_pred)
precision_rbf = metrics.precision_score(y_test, y_pred, average='macro', zero_division=0)
recall_rbf = metrics.recall_score(y_test, y_pred, average='macro')
f1_rbf = metrics.f1_score(y_test, y_pred, average='macro')

t = PrettyTable(['','accuracy', 'precision', 'recall', 'f1'])
t.add_row(['SVM RBF',round(accurary_rbf, 3),round(precision_rbf,3),round(recall_rbf, 3),round(f1_rbf,3)])
print(t)

+------------+----------+-----------+--------+-------+
|            | accuracy | precision | recall |   f1  |
+------------+----------+-----------+--------+-------+
| SVM Linear |  0.458   |    0.33   | 0.311  | 0.304 |
+------------+----------+-----------+--------+-------+

3.4 SVM Sigmoid Kernel:

In [119]:
clf = svm.SVC(kernel='sigmoid')
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

accurary_sigmoid =  metrics.accuracy_score(y_test, y_pred)
precision_sigmoid = metrics.precision_score(y_test, y_pred, average='macro', zero_division=0)
recall_sigmoid = metrics.recall_score(y_test, y_pred, average='macro')
f1_sigmoid = metrics.f1_score(y_test, y_pred, average='macro')

t = PrettyTable(['','accuracy', 'precision', 'recall', 'f1'])
t.add_row(['SVM Sigmoid',round(accurary_sigmoid, 3),round(precision_sigmoid,3),round(recall_sigmoid, 3),round(f1_sigmoid,3)])
print(t)

+-------------+----------+-----------+--------+-------+
|             | accuracy | precision | recall |   f1  |
+-------------+----------+-----------+--------+-------+
| SVM Sigmoid |  0.113   |   0.103   | 0.063  | 0.051 |
+-------------+----------+-----------+--------+-------+

3.5 SVM Poly Kernel:

In [120]:
clf = svm.SVC(kernel='poly')
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

accurary_poly =  metrics.accuracy_score(y_test, y_pred)
precision_poly = metrics.precision_score(y_test, y_pred, average='macro', zero_division=0)
recall_poly = metrics.recall_score(y_test, y_pred, average='macro')
f1_poly = metrics.f1_score(y_test, y_pred, average='macro')

t = PrettyTable(['','accuracy', 'precision', 'recall', 'f1'])
t.add_row(['SVM Poly',round(accurary_poly, 3),round(precision_poly,3),round(recall_poly, 3),round(f1_poly,3)])
print(t)

+----------+----------+-----------+--------+-------+
|          | accuracy | precision | recall |   f1  |
+----------+----------+-----------+--------+-------+
| SVM Poly |  0.429   |   0.391   | 0.275  | 0.287 |
+----------+----------+-----------+--------+-------+

3.6 So sánh các karnel của SVM:

In [121]:
t = PrettyTable(['','accuracy', 'precision', 'recall', 'f1'])
t.add_row(['SVM Linear',round(accurary_linear, 3),round(precision_linear,3),round(recall_linear, 3),round(f1_linear,3)])
t.add_row(['SVM RBF',round(accurary_rbf, 3),round(precision_rbf,3),round(recall_rbf, 3),round(f1_rbf,3)])
t.add_row(['SVM Sigmoid',round(accurary_sigmoid, 3),round(precision_sigmoid,3),round(recall_sigmoid, 3),round(f1_sigmoid,3)])
t.add_row(['SVM Poly',round(accurary_poly, 3),round(precision_poly,3),round(recall_poly, 3),round(f1_poly,3)])
print(t)

+-------------+----------+-----------+--------+-------+
|             | accuracy | precision | recall |   f1  |
+-------------+----------+-----------+--------+-------+
|  SVM Linear |  0.359   |   0.428   | 0.341  | 0.346 |
|   SVM RBF   |  0.458   |    0.33   | 0.311  | 0.304 |
| SVM Sigmoid |  0.113   |   0.103   | 0.063  | 0.051 |
|   SVM Poly  |  0.429   |   0.391   | 0.275  | 0.287 |
+-------------+----------+-----------+--------+-------+